- if user_signed_in?
  %li#fat-menu.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Account
      %b.caret
    %ul.dropdown-menu
      %li= link_to "Profile", edit_user_registration_path
      %li= link_to "Settings", '#'
      %li.divider
      %li
        = link_to "Logout", destroy_user_session_path, :method => :delete
  %li
    = link_to "Sign Out", destroy_user_session_path, :method => :delete
- else
  %li= link_to "Sign in", new_user_session_path
  %li= link_to "Sign Up", new_user_registration_path
  %li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
